name: Build
on:
  - pull_request
  - push
jobs:
  lint:
    name: Lint the otc-auth source code
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.20
      - name: Checkout
        uses: actions/checkout@v4
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: Build the otc-auth
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: ^1.20
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi
      - name: Build
        run: go build -v -o otc-auth .
      - name: Upload the built binary executable for testing
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: otc-auth
